.App {
  text-align: center;
}

body {
  background-color: rgb(140, 55, 238);
}

.ride-list{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10%;
  padding-inline-start: 0;
}

.ride-item{
  background-color: white;
  width: 30%;
  height: max-content;
  box-shadow: 0 20px 20px -10px rgb(81, 22, 148);
  text-align: center;
  border-radius: 6px;
  margin: 10px;
}

.ride-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  margin: auto;
  margin-top: 10%;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

input[type="submit"]{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 20px 20px -10px rgb(199, 199, 199);
  transition: .2s linear;
}

input[type="submit"]:hover{
  color: white;
  background-color: rgb(35, 205, 26);
  border: none;
  font-weight: bold;
}

.delete-button{
  color: white;
  background-color: rgb(197, 90, 90);
  margin: 10px;
}

.close-button {
  padding: 10px;
  margin: 2px;
  /* box-shadow: 0 20px 20px -10px rgb(199, 199, 199); */
  transition: .2s linear;
  background-color: rgb(197, 90, 90);
}

.edit-button{
  margin: 10px;
}

.alert {
  color: red;
}