.App {
  text-align: center;
}

body {
  background-color: rgb(140, 55, 238);
}

.ride-section {
 width: 60%
}

.ride-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10%;
  padding-inline-start: 0;
  overflow-y: auto;
  height: 61vh;
}

.map-section {
  margin-right: 10px;
}

.ride-item{
  background-color: rgb(233, 231, 231);
  width: 90%;
  height: max-content;
  box-shadow: 0 20px 20px -10px rgb(81, 22, 148);
  text-align: center;
  border-radius: 6px;
  margin: 10px;
}

.ride-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 20px 20px -10px rgb(81, 22, 148);
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  margin: auto;
  margin-top: 10%;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 20px 20px -10px rgb(81, 22, 148);
}

input[type="submit"]{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 20px 20px -10px rgb(199, 199, 199);
  transition: .2s linear;
}

input[type="submit"]:hover{
  color: white;
  background-color: rgb(35, 205, 26);
  border: none;
  font-weight: bold;
}

.delete-button{
  color: white;
  background-color: rgb(197, 90, 90);
  margin: 10px;
}

.delete-button:hover{
  color: white;
  background-color: rgb(235, 8, 8);
  /* border: none; */
  font-weight: bold;
}

.join-button {
  background-color: #FF0FF8;
  margin: 10px;
}

.join-button:hover {
  color: white;
  background-color: rgb(35, 205, 26);
  /* border: none; */
  font-weight: bold;
}

.close-button {
  padding: 10px;
  margin: 2px;
  /* box-shadow: 0 20px 20px -10px rgb(199, 199, 199); */
  transition: .2s linear;
  background-color: rgb(197, 90, 90);
}

.close-button:hover{
  color: white;
  background-color: rgb(235, 8, 8);
  border: none;
  font-weight: bold;
}

.edit-button{
  background-color: rgb(248, 187, 74);
  margin: 10px;
}

.edit-button:hover {
  background-color: rgb(255, 153, 0);
}

.alert {
  color: red;
}

.logout {
  color: white;
}

.form-toggle {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #241568;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 50%;
}

.form-toggle:hover{
  color: white;
  background-color: rgb(35, 205, 26);
  border: none;
  font-weight: bold;
}

.home-page {
  display: flex;
}


.pin {
  display: flex;
  align-items: center;
  width: 100px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  /* background-color: rgb(226, 224, 224);
  border-style: groove;
  border-radius: 6px;
  border-color: rgb(92, 90, 90); */
  font-size: 1.3em;
  color: red;
  font-weight: bold;
}