@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.header {
    /* background-color: rgb(29, 28, 29); */
    background-image: linear-gradient(black, rgb(90, 87, 87));
    box-shadow: 0 20px 30px -5px rgb(81, 22, 148);
    text-align: left;
    /* padding-left: 2%; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

nav {
  width: 20%;
  display: flex;
  justify-content: center;
}

a.logout {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF0FF8;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 75px;
  height: 20px;
  margin-top: 10%;
  margin-left: 50px;
}

a.logout:hover {
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  font-weight: bold;
}

.victory {
    position: relative;
    font-family: 'Permanent Marker', cursive;
    font-variant:small-caps;
    font-size: 100px;
    -webkit-transform: skew(-3deg,-3deg);
    padding-left: 20px;
    padding-bottom: 15px;
    /* padding-right: 50%; */
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    width: max-content;
  }
  
  /* .victory:before {
    content: '-';
    position: absolute;
    bottom: -98px;
    left: 254px;
    background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
    -webkit-background-clip: text;
    text-shadow: 70px -7px #F3C8F3;
  } */
  
  /* .victory:after {
    content: '-';
    position: absolute;
    bottom: -85px;
    left: 395px;
    background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
    -webkit-background-clip: text;
    text-shadow: 70px -5px #F3C8F3;
  } */
  
  .victory-v {
    position: relative;
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
    -webkit-background-clip: text;
    padding-right: 18px;
    margin-right: -18px;
  }
  
  /* .victory-v:before {
    content: '-';
    position: absolute;
    top: -71px;
    left: -71px;
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
    -webkit-background-clip: text;
  } */
/*   
  .victory-v:after {
    content: '-';
    position: absolute;
    top: -72px;
    left: 103px;
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
    -webkit-background-clip: text;
  } */